:root {
    --bg-primary: #060B10;
    --surface-card: rgba(255, 255, 255, 0.03);
    --accent-cyan: #00D2FF;
    --accent-gold: #FFD700;
    --text-primary: #FFFFFF;
    --text-secondary: #A0B0C0;
    --border-light: rgba(255, 255, 255, 0.08);
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
    --font-mono: 'Fira Code', monospace;
    /* --table-header-bg: #141C24;
    --table-header-border-top: #00D2FF; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    font-family: var(--font-body);
    line-height: 1.7;
}

.hero {
    text-align: center;
    padding: 0 2rem;
    margin: 0 auto 3rem;
    max-width: 900px;
}

.hero .tag {
    display: block;
    color: var(--accent-cyan);
    font-family: var(--font-mono);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    line-height: 1;
}

.hero h1 {
    font-family: var(--font-heading);
    color: var(--text-primary);
    font-weight: 800;
    font-size: clamp(4rem, 10vw, 8rem);
    margin-bottom: 2rem;
    text-shadow: 0 0 20px rgba(0, 210, 255, 0.5);
    line-height: 1;
}

.hero p {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0.8;
}

.side-nav {
    position: fixed;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 50;
}

.side-nav a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border: 1px solid var(--border-light);
}

.side-nav a:hover {
    background: var(--accent-cyan);
    box-shadow: 0 0 10px var(--accent-cyan);
}

#main {
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.toc-card {
    background: var(--surface-card);
    border: 1px solid var(--border-light);
    backdrop-filter: blur(16px);
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    max-width: 900px;
    margin: 0 auto 10rem;
}

.toc-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--text-primary);
    margin-bottom: 2rem;
    font-family: var(--font-heading);
    font-size: 1.5rem;
}

.toc-list {
    display: grid;
    grid-template-columns: 1fr 1fr;; 
    gap: 1rem 3rem;
    list-style: none;
    text-align: left;
}

.toc-list a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

.toc-list a:hover {
    color: var(--accent-cyan);
}

.toc-icon {
  width: 12px;
  height: 12px;
}